%tr
  %td.section
    %table(cellpadding="0" cellspacing="0" border="0" align="left")
      %tbody
        %tr
          %td.content(valign="top")
            %div
              %p
                An error has just occurred in the
                %span.bold= @notice.environment_name
                environment.
                %br
                This
                %span.bold= @notice.error_class
                has occurred #{pluralize @notice.problem.notices_count, 'time'}.
